.fira-sans-medium {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}
*{
    margin: 7px 18px 7px 18px;
    
}
header main{
    background-color: rgba(196, 191, 191, 0.12);;
}
nav{
    display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 30px;
}
.nav-btn{
 color: rgb(0, 106, 80);
font-size: 8px;
font-weight: 600;
padding: 8px 15px 8px 15px;
text-align: center;
box-sizing: border-box;
border: 1px solid rgb(0, 106, 80);
border-radius: 7px;
}
.explore{
    border-radius: 24px;
    background: rgb(198, 228, 214);
   
   
}
.ex{
    display: flex;
    align-items: center;
}

.ex-sub{
color: rgba(14, 14, 14, 0.5);
font-size: 16px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0%;
text-align: left;

}
.ex-title{
color: rgb(14, 14, 14);
font-size: 45px;
font-weight: 800;
line-height: 45px;

text-align: left;
}
.ex-btn{
    color: rgb(255, 255, 255);
font-size: 12px;
font-weight: 600;
line-height: 18px;
text-align: center;
border-radius: 8px;
background: rgb(0, 106, 80);
padding: 10px 20px 10px 12px;
border: none;
margin-top: 14px;
}
.h-title{
    color: rgb(14, 14, 14);
font-size: 25px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0%;
text-align: left;
margin-top: 53px;
margin-bottom: 20px;
}
.pillar{
    display: flex;
    margin-left: 0;
    margin-right: 0;
}
.each-piller{
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 15px;
background: rgb(255, 255, 255);
width: 300px;
height: 200px;
}
.sub-p{
color: rgba(14, 14, 14, 0.8);
font-size: 16px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
margin-top: 20px;
margin-bottom: 10px;
}
.p-des{
color: rgba(14, 14, 14, 0.7);
font-size: 12px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
}
.p-vision{
color: rgba(14, 14, 14, 0.7);
font-size: 12px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 15px;
}
.vission{
    display: flex;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
}
.sub-v{
color: rgba(14, 14, 14, 0.8);
font-size: 18px;
font-weight: 700;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
margin-top: 10px;
margin-bottom: 8px;
}
.v-des{
color: rgba(14, 14, 14, 0.7);
font-size: 14px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}
.each-vission-B{
box-sizing: border-box;
border-radius: 16px;
background: rgba(84, 144, 245, 0.2);
}
.each-vission-G{
box-sizing: border-box;
border-radius: 16px;
background: rgb(198, 228, 214);
}
.each-vission-Y{
box-sizing: border-box;
border-radius: 16px;
background: rgb(247, 235, 207);
}
.v-btn-B{
    color: rgb(255, 255, 255);
font-size: 12px;
font-weight: 600;
line-height: 15px;
letter-spacing: 0%;
text-align: center;
border: none;
    border-radius: 8px;
background: rgb(84, 144, 245);
padding: 7px 16px 7px 16px;
margin-bottom: 26px ;
margin-top: 22px;
}
.v-btn-G{
    color: rgb(255, 255, 255);
font-size: 12px;
font-weight: 600;
line-height: 15px;
letter-spacing: 0%;
text-align: center;
border: none;
    border-radius: 8px;
background: rgb(9, 161, 92);
padding: 7px 16px 7px 16px;
margin-bottom: 26px ;
margin-top: 22px;
}
.v-btn-Y{
    color: rgb(255, 255, 255);
font-size: 12px;
font-weight: 600;
line-height: 15px;
letter-spacing: 0%;
text-align: center;
border: none;
    border-radius: 8px;
background: rgb(255, 194, 57);
padding: 7px 16px 7px 16px;
margin-bottom: 26px ;
margin-top: 22px;
}
.yonus{
 box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
}
.y-details{
    margin: 35px 11px;
}
.yonus img{
    position: absolute;
    margin-top: 10px;
 

}
.y-title{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size:18px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
margin-top: 10px;
margin-bottom: 0;
}
.y-des{
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 12px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
}
.T{
    margin-top: 30px;
}
.opinion{
    border-radius: 16px;
background: #ffffff;

}
.question{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
background: rgb(198, 228, 214);
}

.q{
    color: rgb(14, 14, 14);
font-size: 17px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0%;

}
.white{
    border-radius: 18px;
background: rgb(255, 255, 255);
padding: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.h-s{
color: rgba(14, 14, 14, 0.8);
font-size: 28px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0%;
text-align: left;
}
.satellite{
    margin-top: 0;
    margin-bottom: 0;
}
.s-img{
    height: 300px;
    width: 400px;
   border-radius: 30px;
}
.s-des{
color: rgba(14, 14, 14, 0.7);
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0%;
text-align: left;
margin-top: 12px;
margin-bottom: 12px;
}
.subscribe{
    border-radius: 24px;
background: rgb(198, 228, 214);
margin-bottom: 70px;
}
.sub{
    text-align: center;
    padding: 80px 100px;
}
.p-sub{
    color: rgba(14, 14, 14, 0.7);
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0%;

margin-top: 18px;
margin-bottom: 18px;
width: 450px;
text-align: center;
margin-left: auto;
margin-right: auto;
}
.input{
    display: flex;
    justify-content: center;
   
}
.email{
    text-align: left;
    border-radius: 8px 0px 0px 8px;
background: rgb(255, 255, 255);
padding: 14px 30px 14px 30px;
border: none;
width: 500px;
margin-right: 0;
}
.i-btn{
    border-radius: 0px 8px 8px 0px;
background: rgb(0, 106, 80);
text-align: center;
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 14px;
font-weight: 600;
line-height: 18px;
letter-spacing: 0%;
margin-left: 0;
width: 120px;
border: none;
}
.B{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 33px;
}
.icon{
    display: flex;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
   
}
.icon img{
    margin-left: 0;
    margin-right: 0;
}
hr{
    border: 1px solid rgba(14, 14, 14, 0.1);
    margin-left: 120px;
    margin-right: 120px;
}